{% extends "base.html" %}
{% block title %}Fir{% endblock %}
{% block content %}
<div class="container">
  <table id="racetimes">
    <tr id="firstrow">
      <th>apk名称</th>
      <th>大小</th>
      <th>时间</th>
      <th>描述</th>
    </tr>
    {% for apk in apklist %}
    <tr>
      <td><a href="/apk/{{apk.name}}">{{apk.name}}</a></td>
      <td>{{apk.size}}</td>
      <td>{{apk.ctime}}</td>
      <td>{{ apk.version_name }} , {{ apk.version_code }} , {{apk.package_name}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
